<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../img/weather.png">
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Nitin Patel. It uses data from Mapbox.com and Darksky.net</p>
        <img class='portrait' src="./img/robot.jpeg">
    </div>
    {{>footer}}
</body>
</html>